//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

// Modal styles for prompt files
.prompt-modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  padding: govuk-spacing(3);
}

.prompt-modal-container {
  background-color: govuk-colour("white");
  max-width: 960px;
  width: 100%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.prompt-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: govuk-spacing(4);
  border-bottom: 1px solid govuk-colour("mid-grey");
}

.prompt-modal-title {
  margin: 0;
}

.prompt-modal-close {
  background: none;
  border: none;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  padding: 0;
  width: 2rem;
  height: 2rem;
  color: govuk-colour("black");

  &:hover {
    color: govuk-colour("dark-grey");
  }

  &:focus {
    outline: 3px solid govuk-colour("yellow");
    outline-offset: 0;
  }
}

.prompt-modal-content {
  overflow-y: auto;
  padding: govuk-spacing(4);
  flex: 1;
}

.prompt-modal-code {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(3);
  margin: 0;
  border: 1px solid govuk-colour("mid-grey");
}


